# example files for bios update
csv_example.csv
summaryDatabase.csv
proc/

# src/ => Test files for msync
src/scripts/msync/2.txt
src/scripts/msync/summary.csv
src/scripts/msync/syncTo/

# pc-summer/src/prod
src/LAB/hp-summer/src/prod